@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Song+Myung&family=Nanum+Gothic:wght@400;700&display=swap');

.gugi {
  font-family: 'Gugi', cursive;
}

.song-myung {
  font-family: 'Song Myung', serif;
}

.nanum-gothic {
  font-family: 'Nanum Gothic', sans-serif;
}